<!DOCTYPE html>
<html lang="en">
<head>
   <title>Adventure - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">

    <link rel="stylesheet" href="~/client/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/client/css/animate.css">
    
    <link rel="stylesheet" href="~/client/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/client/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/client/css/magnific-popup.css">

    <link rel="stylesheet" href="~/client/css/aos.css">

    <link rel="stylesheet" href="~/client/css/ionicons.min.css">

    <link rel="stylesheet" href="~/client/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/client/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="~/client/css/flaticon.css">
    <link rel="stylesheet" href="~/client/css/icomoon.css">
    <link rel="stylesheet" href="~/client/css/style.css">
</head>
<body>
    <partial name='_Navbar.cshtml'/>
      
    @RenderBody()

    <partial name='_Footer.cshtml'/>

  
   
  <script src="~/client/js/jquery.min.js"></script>
  <script src="~/client/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="~/client/js/popper.min.js"></script>
  <script src="~/client/js/bootstrap.min.js"></script>
  <script src="~/client/js/jquery.easing.1.3.js"></script>
  <script src="~/client/js/jquery.waypoints.min.js"></script>
  <script src="~/client/js/jquery.stellar.min.js"></script>
  <script src="~/client/js/owl.carousel.min.js"></script>
  <script src="~/client/js/jquery.magnific-popup.min.js"></script>
  <script src="~/client/js/aos.js"></script>
  <script src="~/client/js/jquery.animateNumber.min.js"></script>
  <script src="~/client/js/bootstrap-datepicker.js"></script>
  <script src="~/client/js/jquery.timepicker.min.js"></script>
  <script src="~/client/js/scrollax.min.js"></script>
  @* <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> *@
  <script src="~/client/js/google-map.js"></script>
  <script src="~/client/js/main.js"></script>
  @await RenderSectionAsync("Scripts", required: false)
  <partial name="_ValidationScriptsPartial" />
  @await Component.InvokeAsync("NToastNotify");


</body>
</html>
