<div
  class="hero-wrap js-fullheight"
  style="background-image: url('/client/images/bg_1.jpg')"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
      data-scrollax-parent="true"
    >
      <div
        class="col-md-9 text-center ftco-animate"
        data-scrollax=" properties: { translateY: '70%' }"
      >
        <p
          class="breadcrumbs"
          data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
        >
          <span class="mr-2"><a href="index.html">Home</a></span>
          <span>About</span>
        </p>
        <h1
          class="mb-3 bread"
          data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
        >
          About Us
        </h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="alert alert-warning" role="alert">
      Xin thứ lỗi, Hệ Thống đang cập nhật thông tin !!
    </div>
  </div>
</section>

