<div
  class="hero-wrap js-fullheight"
  style="background-image: url('/client/images/bg_1.jpg')"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
      data-scrollax-parent="true"
    >
      <div
        class="col-md-9 text-center ftco-animate"
        data-scrollax=" properties: { translateY: '70%' }"
      >
        <p
          class="breadcrumbs"
          data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
        >
          <span class="mr-2"><a href="index.html">Home</a></span>
          <span>About</span>
        </p>
        <h1
          class="mb-3 bread"
          data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
        >
          About Us
        </h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="intro">
          <h3><span>01</span> Travel</h3>
          <p>
            Khu vực miền Tây Việt Nam là một trong những điểm đến hấp dẫn cho du
            khách khi đến Việt Nam. Với cảnh quan thiên nhiên đa dạng, cuộc sống
            đồng bằng tràn ngập màu sắc và văn hóa phong phú, miền Tây là nơi lý
            tưởng để khám phá.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="intro">
          <h3><span>02</span> Experience</h3>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia. It is a paradisematic country, in which
            roasted parts of sentences fly into your mouth.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="intro">
          <h3><span>03</span> Relax</h3>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia. It is a paradisematic country, in which
            roasted parts of sentences fly into your mouth.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="ftco-section ftco-counter img"
  id="section-counter"
  style="background-image: url(/client/images/bg_1.jpg)"
  data-stellar-background-ratio="0.5"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row">
          <div
            class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="100000">0</strong>
                <span>Happy Customers</span>
              </div>
            </div>
          </div>
          <div
            class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="40000">0</strong>
                <span>Destination Places</span>
              </div>
            </div>
          </div>
          <div
            class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="87000">0</strong>
                <span>Hotels</span>
              </div>
            </div>
          </div>
          <div
            class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate"
          >
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="56400">0</strong>
                <span>Restaurant</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-about d-md-flex">
  <div
    class="one-half img"
    style="background-image: url(/client/images/about.jpg)"
  ></div>
  <div class="one-half ftco-animate">
    <div class="heading-section ftco-animate">
      <h2 class="mb-4">The Best Travel Agency</h2>
    </div>
    <div>
      <p>
        Việt Nam là một đất nước có văn hóa độc đáo, cảnh quan tuyệt đẹp và ẩm
        thực đa dạng. Thành phố Hồ Chí Minh là trung tâm kinh tế và có nhiều
        điểm tham quan đáng chú ý. Hội An là thành phố cổ đẹp nhất Việt Nam với
        các ngôi nhà cổ, chợ đêm và các hoạt động thể thao ngoài trời. Vịnh Hạ
        Long là một trong những kỳ quan thiên nhiên của thế giới, với hơn 1.600
        hòn đảo và đá vôi độc đáo. Thủ đô Hà Nội là trung tâm văn hóa của Việt
        Nam và có rất nhiều di tích lịch sử và văn hóa đáng chú ý.
      </p>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div
        class="col-md-7 text-center heading-section heading-section-white ftco-animate"
      >
        <h2 class="mb-4">Our satisfied customer says</h2>
        <p>
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts. Separated they
          live in
        </p>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div
                class="user-img mb-5"
                style="background-image: url(/client/images/person_1.jpg)"
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text">
                <p class="mb-5">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="name">Mark Web</p>
                <span class="position">Marketing Manager</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div
                class="user-img mb-5"
                style="background-image: url(/client/images/person_2.jpg)"
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text">
                <p class="mb-5">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="name">Mark Web</p>
                <span class="position">Interface Designer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div
                class="user-img mb-5"
                style="background-image: url(/client/images/person_3.jpg)"
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text">
                <p class="mb-5">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="name">Mark Web</p>
                <span class="position">UI Designer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div
                class="user-img mb-5"
                style="background-image: url(/client/images/person_1.jpg)"
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text">
                <p class="mb-5">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="name">Mark Web</p>
                <span class="position">Web Developer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div
                class="user-img mb-5"
                style="background-image: url(/client/images/person_1.jpg)"
              >
                <span
                  class="quote d-flex align-items-center justify-content-center"
                >
                  <i class="icon-quote-left"></i>
                </span>
              </div>
              <div class="text">
                <p class="mb-5">
                  Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind texts.
                </p>
                <p class="name">Mark Web</p>
                <span class="position">System Analyst</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section services-section bg-light">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-yatch"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Special Activities</h3>
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-around"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Travel Arrangements</h3>
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-compass"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Private Guide</h3>
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block">
          <div class="icon"><span class="flaticon-map-of-roads"></span></div>
          <div class="media-body">
            <h3 class="heading mb-3">Location Manager</h3>
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section-parallax">
  <div class="parallax-img d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div
          class="col-md-7 text-center heading-section heading-section-white ftco-animate"
        >
          <h2>Subcribe to our Newsletter</h2>
          <p>
            Far far away, behind the word mountains, far from the countries
            Vokalia and Consonantia, there live the blind texts. Separated they
            live in
          </p>
          <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-8">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter email address"
                  />
                  <input type="submit" value="Subscribe" class="submit px-3" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
