@model Visa; 
<div
  class="hero-wrap js-fullheight"
  style="background-image: url('/client/images/bg_1.jpg')"
>
  <div class="overlay"></div>
  <div class="container">
    <div
      class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
      data-scrollax-parent="true"
    >
      <div
        class="col-md-9 text-center ftco-animate"
        data-scrollax=" properties: { translateY: '70%' }"
      >
        <p
          class="breadcrumbs"
          data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
        >
          <span class="mr-2"><a href="/">Home</a></span> <span>visa</span>
        </p>
        <h1
          class="mb-3 bread"
          data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
        >
          @Model.title
        </h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-degree-bg">
  <div class="container">
    <div class="row">
      
      <div class="col-lg-12">
        <div class="row">
        <img src="/files/@Model.mainImg" class="w-100" alt="">
         
          <div class="col-md-12 hotel-single ftco-animate mb-5 mt-4">
            <h4 class="mb-4">Thông Tin</h4>

            @Html.Raw(Model.info)
          </div>
        
        </div>
      </div>
    </div>
  </div>

</section>
